
#about-modal-wrapper
{
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
}


#about-modal-body
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}