#add-modal-wrapper
{
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
}

.add-modal-footer
{
    justify-content: center;
}

#add-modal-title
{
    margin-left: 15px;
    margin-right: 15px;
}