.body-wrapper
{

    width: calc(100% - 30px);
    max-width: 770px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

#add-todo-wrapper
{
    background-color: #4d708e;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-icon-cell
{
    /*
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;*/


    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
}

#add-text-cell
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

#add-text-input
{
    width: 100%;
    height: 100% !important;

    border: 0;
    background-color: transparent;
    color: white !important;
}

#add-text-input::placeholder 
{
    color: white;
    opacity: 1; /* Firefox */
}

#add-text-input::-ms-input-placeholder 
{ /* Edge 12 -18 */
    color: white;
}

#todo-list-wrapper
{
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.list-item-card
{
    height: auto;
    min-height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
}

.check-cell
{
    display: flex;
    width: 50px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.trash-cell
{
    display: flex;
    width: 50px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.trash-cell svg {
    padding: 10px;
}
.check-cell svg
{
    padding: 10px;
}

#logout-button
{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
}

.task-text
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    text-align: start;
}

.nav-cell
{
    height: 100%;
}
.text-cell
{
    padding: 10px;
    width: 100%;
}

#add-icon-cell,
#add-icon
{
    cursor: pointer;
}

#add-icon:hover,
#add-icon-cell:hover > svg
{

    fill: #EF6461 !important;
}

#check-icon:hover,
#check-cell:hover > svg
{

    fill: #EF6461 !important;
}


.nav-icon:hover,
.nav-cell:hover > svg
{

    fill: #EF6461 !important;
}

#trash-icon:hover,
.trash-cell:hover > svg
{

    fill: #EF6461 !important;
}