.navbar-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    background-color: #4d708e;
    height: 50px;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}



.nav-cell
{
    display: flex;
    color: white;
    width: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#top-container
{
    position: sticky;
    top: 0px;
}

.login-bar-alert
{
    background-color: #E8E8E8;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #c0c0c0;
    color:#747474;
    display: none;
    flex-direction: row;
    align-items: center;


}

#login-bar-title
{

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    font-weight: bold;
    color: #125b79;
}

#canndo-text
{
    margin-left: 4px;
}

#star-check
{
    height: 28px;
}

.title-cell
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#span-title-id
{
    font-size: 24px;
    font-weight: 300;
    padding-left: 5px;
    white-space: nowrap;
}

#nav-cell-lists,
#nav-cell-options
{
    cursor: pointer;
}

