
#options-menu-wrapper
{
    background-color: #4d708e;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 200px;
    z-index: 9999;
    transition: width 1s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out;
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 400px;
    max-height: 100vh;

    box-shadow: -4px 4px 7px 3px rgb(0 0 0 / 22%);
}

#options-menu-nav-bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
}



#options-menu-title-cell
{
    width: 100%;
}

#options-icon-close:hover,
#options-menu-close-cell:hover > svg
{

    fill: #EF6461 !important;
}

.options-menu-nav-cell
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    
}

#options-menu-close-cell
{
    width: 50px;
}