
#options-menu-wrapper
{
    background-color: #88A5BF;
    background-image: linear-gradient(180deg, #88A5BF, #F4F0F0);
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: auto;
    z-index: 9999;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 600px;
    max-height: 100vh;

    box-shadow: -4px 4px 7px 3px rgb(0 0 0 / 22%);
    padding-bottom: 15px;

    border-radius: 0 0 4px 4px;
}





#options-menu-title-cell
{
    xwidth: 100%;
}

#options-icon-close:hover,
#options-menu-close-cell:hover > svg
{

    fill: #EF6461 !important;
}

.options-menu-nav-cell
{
    height: 100%;
    xwidth: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    
}

#options-menu-close-cell
{
    width: 50px;
}

#options-icon-close
{
    cursor: pointer;
}

.about-cell
{
    width: 50px;
}

#options-icon-close,
#about-icon
{
    padding: 10px;
}

#about-icon:hover,
#about-cell:hover > svg
{

    fill: #EF6461 !important;
}

#options-menu-nav-bar
{
    height: 50px;
    display: flex;
    min-height: 50px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #4d708e;
    justify-content: space-between;
}

#options-menu-list-wrapper {
    height: 100%;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.options-menu-item-card {
    height: auto;
    min-height: 50px;
    background-color: white;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#options-name
{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: justify;
}